* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, #root {
	width: 100%;
	height: 100%;
}

body {
	background: black;
	overflow: hidden;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.buttons {
	padding: 8px;
}

.buttons button {
	min-width: 100px;
	padding: 4px;
	border: none;
}

#my-video {
	max-width: 720px;
	border-radius: 8px;
	aspect-ratio: 16 / 9;
}
