@font-face {
	font-family: "Material Icons";
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url("./assets/material-icons.woff2") format("woff2"),
		url("./assets/material-icons.woff") format("woff");
}

.video-js .vjs-zoom-icons {
	font-family: "Material Icons", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 22px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-feature-settings: "liga";
}

.video-js .vjs-zoom-duck {
	font-family: "VideoJS", serif;
	cursor: pointer;
	font-weight: 400;
	font-style: normal;
}

.video-js .vjs-zoom-duck-7 .vjs-icon-placeholder:before {
	content: "\f110";
}

.video-js .vjs-zoom-duck-8 .vjs-icon-placeholder:before {
	content: "\f114";
}

.video-js .vjs-zoom-duck__container {
	right: 0;
	bottom: 30px;
	padding: 10px;
	visibility: hidden;
	position: absolute;
	opacity: 0;
	background-color: rgba(43, 51, 63, 0.7);
	transition: visibility 0.2s, opacity 0.2s;
}

.video-js .vjs-zoom-duck__container.open {
	display: flex;
	opacity: 1;
	visibility: visible;
	flex-direction: column;
}

.video-js .vjs-zoom-duck__space {
	width: 22px;
	height: 22px;
	display: inline-block;
}

.video-js .vjs-zoom-duck__button {
	cursor: pointer;
	border: none;
	width: 22px;
	height: 22px;
	border-radius: 100%;
}

.video-js .vjs-zoom-duck__button:hover {
	color: rgba(43, 51, 63, 0.7);
	background-color: white;
}
